<div class="pokemon">
    <img src="/pikachu.gif" alt="Pikachu" id="pikachu">
    <img src="/charmander.gif" alt="Charmander" id="charmander">
    <img src="/mew.gif" alt="Mew" id="mew">
    <img src="/pikachu.gif" alt="Pikachu" id="pikachu">
    <img src="/charmander.gif" alt="Charmander" id="charmander">
    <img src="/mew.gif" alt="Mew" id="mew">
    <img src="/pikachu.gif" alt="Pikachu" id="pikachu">
    <img src="/charmander.gif" alt="Charmander" id="charmander">
    <img src="/mew.gif" alt="Mew" id="mew">
</div>
