<div class="pikachus">
    <img src="/pikachu.gif" alt="Pikachu" id="pikachu">
    <img src="/pikachu.gif" alt="Pikachu" id="pikachu_2">
    <img src="/pikachu.gif" alt="Pikachu" id="pikachu">
    <img src="/pikachu.gif" alt="Pikachu" id="pikachu_2">
    <img src="/pikachu.gif" alt="Pikachu" id="pikachu">
    <img src="/pikachu.gif" alt="Pikachu" id="pikachu_2">
    <img src="/pikachu.gif" alt="Pikachu" id="pikachu">
    <img src="/pikachu.gif" alt="Pikachu" id="pikachu_2">
    <img src="/pikachu.gif" alt="Pikachu" id="pikachu">
</div>
