<div class="header">
    <h1>Sign the petition for Pikachu</h1>
    <h2>(Otherwise she will be terminated!)</sh2>
</div>
{{>image}}
<div class="view">
    <form method = "POST">
        <input type="text" id="firstname" name="first">
        <br><label for="firstname">First Name</label><br>
        <br><input type="text" id="lastname" name="last">
        <br><label for="firstname">Last Name</label><br>
        <input id="hid" type="hidden" name="sig"><br>
        <div id="sketch"><canvas id="paint" width="500" height="100" style="border:1px solid #000000;"></canvas></div>
        <label for="paint">Digital Signature</label><br><br>
        <br><button id="submit-button">Submit</button>
    </form>
</div>
