<div class="header">
    <h1>Please <a href='/register' style='color: blue'><u>register</u></a> or login.</h1>
</div>
{{>image}}
<div class="view">
    {{#if myErr}}<h2 id="error">Account doesn't exist!</h2>{{/if}}
    <form method="POST">
        <label for="email">E-mail</label><br>
        <input type="email" name="email" autocomplete="off" required><br><br><br><br>
        <label for="password">Password</label><br>
        <input type="password" name="password" autocomplete="off" required><br>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <br><button id="login-button" type="submit">Login</button>
    </form>
</div>
