<div class="header">
    <center><h1>METRIC SYSTEM</h1>
    <h2>Meters vs yards. Kilograms vs Pounds. Kilometer vs mile. Celsius vs Fahrenheit.</h1>
    <h2>100 centimeters vs 36 inches? 100 grams vs 16 ounces? 1000 meters vs 5280 feet? 0 degrees Celcius vs 32 degrees Fahrenheit?</h2><br>
    <h1>Why do U.S. Americans have to learn the most bizarre way to calculate and measure? This needs to stop.</h2><br>
    <h1>Sign the petition to force the United States of America to finally adapt to the rest of the World!</h1></center>
    <h3>(The gray colored countries of the map below use the metric system.)</h3>
</div>
{{>map_image}}
<div class="view">
    <h3>{{error}}</h3>
    <form method = "POST">
        <input id="hid" type="hidden" name="sig"><br>
        <div id="sketch"><canvas id="paint" width="500" height="100" style="border:1px solid #000000;"></canvas></div>
        <label for="paint">Digital Signature</label><br><br>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <br><button id="submit-button" type="submit">Submit</button>
    </form>
</div>
