<div class="header">
    <h1>Please register or <a href='/login' style='color: white'><u>login</u></a>.</h1>
</div>
{{>image}}
<div class="view">
    {{#if myErr}}<h2 id="error">Please fill out all the fields!</h2>{{/if}}
    <form method="POST">
        <input type="text" name="first" autocomplete="off" required>
        <br><label for="first">First Name</label><br><br>
        <input type="text" name="last" autocomplete="off" required>
        <br><label for="last">Last Name</label><br><br>
        <input type="email" name="email" autocomplete="off" required>
        <br><label for="email">E-mail</label><br><br>
        <input type="password" name="password" autocomplete="off" required>
        <br><label for="password">Password</label><br>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <br><button id="submit-button" type="submit">Submit</button>
    </form>
</div>
