<div class="header">
    <h1>Thanks for signing the partition!</h1>
</div>
{{>image}}
<div class="view">
    <p>You signed:</p>
    <img src="{{sig}}" width="500" height="100">
    <br>
    <a href='/signers'><h3>See other people who signed!<h3></a>
</div>
