<div class="header">
    <h1>Thanks for signing the partition or whatever</h1>
</div>
{{>image}}
<div class="view">
    <h3>Cool stuff! Blah blah filler text!</h3>
    <br>
    <p>See other people who signed:</p>
</div>
