.view, .header, h1 {
    text-align: center;
    font-family: 'Corben', Georgia, Times, serif;
    text-shadow: 1px 1px 1px #ccc;
}

.header {
    border: 1px solid #fabc09;
    background-color: #facc43;
    margin: 20px;
    padding: 20px;
    color: #374353;
    box-shadow: 10px 10px 1em #fabc09;
}

.view {
    border: 1px solid #fabc09;
    background-color: #facc43;
    margin: 20px;
    padding: 20px;
    color: #374353;
    box-shadow: 10px 10px 1em #fabc09;
}

.partial {
    border: 1px solid #fabc09;
    background-color: #facc43;
    margin: 20px;
    padding: 20px;
}

.center {
    text-align: center;
}

a {
    text-decoration: none;
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
}

body {
    background-color: #ffffb0;
}

button {
    background-color: #ffffb0;
    font-size: 20px;
    box-shadow: 5px 5px 1em #ccc;
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
}

p {
    font-size: 20px;
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
}

canvas {
    background-color: white;
}

input {
    width: 480px;
    box-shadow: 10px 10px 1em #ccc;
    font-size: 20px;
}

label {
    font-size: 24px;
}

li {
    font-size: 30px;
    list-style-type: none;
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
    margin-bottom: 16px;
}

.pokemon {
    width: 10%;
    overflow: hidden;
    display: inline;
}

#pikachu {
    width: 9%;
    overflow: hidden;
    display: inline;
    position: relative;
    top: -10px;
}

#charmander {
    width: 10%;
    overflow: hidden;
    display: inline;
}

#mew {
    width: 12%;
    overflow: hidden;
    display: inline;
}

#error {
    color: white;
}

.youtube-responsive-container {
position:relative;
padding-bottom:56.25%;
padding-top:30px;
height:0;
overflow:hidden;
}

.youtube-responsive-container iframe, .youtube-responsive-container object, .youtube-responsive-container embed {
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
}
