.header {
    border: 1px solid #fabc09;
    background-color: #facc43;
    margin: 20px;
    padding: 20px;
    color: #374353;
}

.view {
    border: 1px solid #fabc09;
    background-color: #facc43;
    margin: 20px;
    padding: 20px;
    color: #374353;
}

.partial {
    border: 1px solid #fabc09;
    background-color: #facc43;
    margin: 20px;
    padding: 20px;
}

a {
    text-decoration: none;
}

p {
    font-size: 20px;
}

input {
    width: 480px;
}

canvas {
    background-color: white;
}

label {
    padding: 5px;
    font-size: 20px;
}

.pokemon {
    width: 10%;
    overflow: hidden;
    display: inline;
}

#pikachu {
    width: 9%;
    overflow: hidden;
    display: inline;
    position: relative;
    top: -10px;
}

#charmander {
    width: 10%;
    overflow: hidden;
    display: inline;
}

#mew {
    width: 12%;
    overflow: hidden;
    display: inline;
}

li {
    font-size: 20px;
}

#error {
    color: white;
}
